html, body{
	height: 100%;
	background: url(/Public/img/0.jpg) no-repeat 0 0;
	background-size: 100% 100%;
	/*overflow: hidden;*/
}
.container{
	width: 1000px;
}
.main-content{
	width: 28%;
	padding-left: 0;
}
.content{
	width: 72%;
	padding: 0;
}
a:focus{
	outline: none;
}
.dn{
	display: none;
}

/*header*/
.header img{
	width: 45px;
	height: 45px;
	border: 3px solid #fff;
	box-shadow: 1px 1px 5px #000;
	vertical-align: text-top;
	margin-left: 10px;
}
.header span.title{
	font-size: 16px;
	margin-left: 5px;
	color: #000;
	text-shadow: 2px 0 2px #fff, -2px 0 2px #fff, 0 2px 2px #fff, 0 -2px 2px #fff;
}
.header span.blog-latest{
	position: absolute;
	left: 80px;
	top: 25px;
}

/*黑色主题面板*/
.panel-black{
	height: 500px;
	margin-bottom: 0;
	border: none;
	border-radius: 7px;
	overflow: hidden;
	background: none;
}
.panel-black .panel-heading{
	height: 45px;
	position: relative;
}
.panel-black .panel-body{
	height: 100%;
	padding: 0 0 100px 0;
	overflow: hidden;
}
.panel-black .panel-body .wrap{
	width: 100%;
	height: 100%;
	position: relative;
   overflow: hidden;
}
.panel-black .panel-footer{
	height: 55px;
	margin-top: -100px;
	position: relative;
}
.panel-black .panel-heading, .panel-black .panel-body, .panel-black .panel-footer{
	border: none;
}
.panel-black .panel-heading, .panel-black .panel-footer{
	background: linear-gradient(top, #555,#222);
	background: -moz-linear-gradient(top, #555,#222);
	background: -webkit-linear-gradient(top, #555,#222);
}
.panel-black .panel-heading .panel-title{
	text-align: center;
	line-height: 25px;
	color: #fff;
}
.panel-black .panel-heading .btn-black{
	position: absolute;
	top: 5px;
	border: 1px solid #1a1919;
	background: linear-gradient(top, #555,#222);
	background: -moz-linear-gradient(top, #555,#222);
	background: -webkit-linear-gradient(top, #555,#222);
	color: #fff;
}
.panel-black .panel-heading .btn-black.btn-black-dropdown{
	left: 15px;
}
.panel-black .panel-heading .btn-black.btn-black-close{
	right: 15px;
}
.panel-black .panel-heading .btn-black.btn-black-search{
	right: 15px;
}

/*主面板*/
.panel-main{
	box-shadow: 2px 2px 5px #000;
}
.panel-main .panel-body .wrap{
	background: #fff;
}
.panel-main .panel-footer{
	padding: 0;
}

/*主面板-用户列表*/
.user-list{
	border-radius: 0;
} 
.user-list .list-group-item{
	color: #000;
	border-radius: 0;
	background: linear-gradient(top, #fff,#f1f1f1);
	background: -moz-linear-gradient(top, #fff,#f1f1f1);
	background: -webkit-linear-gradient(top, #fff,#f1f1f1);
}
.user-list .list-group-item img{
	width: 40px;
	height: 40px;
	vertical-align: text-top;
}
.user-list .list-group-item .msg-latest{
	position: absolute;
	left: 60px;
	top: 35px;
	font-size: 12px;
	color: #aaa;
}

/*主面板-导航栏*/
.side-nav .btn{
	height: 55px;
	border: none;
	border-radius: 0;
	border-left: 1px solid #555;
	border-right: 1px solid #222;
	color: #bdbebf;
}
.side-nav .btn:first-child{
	border-left: none;
}
.side-nav .btn:last-child{
	border-right: none;
}
.side-nav .btn .glyphicon{
	font-size: 18px;
}
.side-nav .btn.active{
	box-shadow: inset 0 0 10px #000;
	color: #2289cf;
	border-left: 1px solid #1a1a1a;
}

/*内容面板*/
.panel-content .panel-body .wrap{
	background: rgba(0, 0, 0, 0.6);
	transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -webkit-transition: top 0.3s ease;
}
.panel-content .panel-footer{
	padding: 10px;
}
.panel-content .panel-footer .form-group{
	margin: 0;
}

/*内容面板-菜单*/
.content-menu{
	width: 100%;
	height: 80px;
	margin: 0;
	padding: 0;
	background: #3c3c3c;
	border: none;
	border-radius: 0;
	box-shadow: 0 6px 6px -6px #000;
	position: absolute;
	left: 0;
	top: 45px;
}
.content-menu .btn-group .btn{
	width: 80px;
	height: 80px;
	background: linear-gradient(top, #555,#222);
	background: -moz-linear-gradient(top, #555,#222);
	background: -webkit-linear-gradient(top, #555,#222);
	border: none;
	border-radius: 0;
	border-left: 1px solid #555;
	border-right: 1px solid #222;
	margin: 0;
	color: #ececec;
	padding-top: 15px;
}
.content-menu .btn-group .btn:first-child{
	border-left: none;
}
.content-menu .btn-group .btn .glyphicon{
	font-size: 24px;
}

/*内容面板-聊天列表*/
.msg-list{
	margin: 15px;
}
.msg-list blockquote{
	position: relative;
	border: none;
}
.msg-list blockquote:not(.blockquote-reverse){
	padding-left: 55px;
	padding-right: 20px;
}
.msg-list blockquote.blockquote-reverse{
	padding-left: 20px;
	padding-right: 55px;
}
.msg-list blockquote p span{
	display: inline-block;
	background: #fff;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 1px 1px 5px #000;
	background: linear-gradient(top, #fff,#e1e1e1);
	background: -moz-linear-gradient(top, #fff,#e1e1e1);
	background: -webkit-linear-gradient(top, #fff,#e1e1e1);
}
.msg-list blockquote img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
}
.msg-list blockquote:not(.blockquote-reverse) img{
	left: 0;
}
.msg-list blockquote.blockquote-reverse img{
	right: 0;
}
