<div class="login" ng-controller="LoginCtrl">
	<form class="form-signin" role="form">
    <h4 class="form-signin-heading">登录</h4>
    <input ng-model="user.mobile" type="text" class="form-control" placeholder="手机号" required autofocus>
    <input ng-model="user.password" type="password" class="form-control" placeholder="密码" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me">记住密码
      </label>
    </div>
    <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>
</div>